@font-face {
    font-family: "Boots And Spurs";
    src: url("../font/BootsAndSpurs.ttf") format("true type");
}

body{
    font-family:"Roboto",Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo{
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;  
}

.product-list h2{
    font-family:"Roboto",Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    align-items: center;
}



header, footer {
    background-color: #202020;
    color: #fff;
}

nav{
    margin-left: 25px;
}

nav ul{
    padding: 0px;
}

nav li{
    display: inline-block   ;
}

/* link */

a{
    text-decoration: none;
}

header a{
    color: #fff;
    padding: 10px;
}

.cta{
    background-color: red;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
}
.cta-small{
    font-size: 0.8em;
    padding: 8px 30px;

}

.active{
    text-decoration: underline;
}

.cta-sale{
    background-color: green;
}

.reviews{
    background-color: #e8e8e8;
}

.featured_products{
    background-color: #fbfbfb;
}

footer{
    text-align: center;
}


/* homepage */

.welcome{
    background: url("../images/home-header.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome_content{
    position: absolute;
    top: 100px;
    left: 100px;
    text-align: center;
}

.selling-point_images{
    border-radius: 100px;
    max-width: 100%;

}

.selling-point{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.selling-point > *,
.reviews_content > *{
    flex:1
}

.reviews_images{
    border-radius: 50%;
    width: 80px;
    float: right;
}

.reviews_content{
    max-width: 1000px;
    display: flex;
}

.reviews{
    text-align: center;
    padding: 50px;
}

.reviews_content{
    text-align: left;
    margin: auto;   
}

.reviews_content div{
    margin: 50px;
}


.reviews_name{
    display: block;
}

/* contact page */

input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    padding: 10px;
}

textarea{
    height: 65%;
}

.contact{
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.form-wrapper{
    display: flex;
    text-align: left;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*product specific page */

.product-specific{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.product-specific > *{
    flex: 1;
}

.product-specific_details{
    padding: 0px 30px;
}

.product-specific_details a{
    display: block;
    width: 95.767px;
    margin: auto;
}

.product-specific_price{
    font-size: 1.5em;
}

.product-image{
        width: 100%;
}

.product-image_thumbnails{   
    display: flex;
    justify-content: space-between;
    gap: 1px;
    margin-top: 5px;
    
}


 

